@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-corpo: 20px "open sans";
    --cor-01: #023059;
    --cor-02: #084F8C;
    --cor-03: #012840;
    --cor-04: #011826;
    --cor-05: #144E73;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans:wght@600&display=swap');
body{
    background-image: url(img/fundo-site.webp);
    background-size: cover;
    background-position: top center;
    font: var(--fonte-corpo);
}

/* Menu topo */

div#menu-topo{
    max-width: 1200px;
    height: 50px;
    margin: 30px auto;
}

  .logo-image{
    float: left;
}

  .menu-icon {
    padding-left: 929px;
    display: inline-block;
    position: relative;
    bottom: 2px;
    cursor: pointer;
  }

  .traço1, .traço2, .traço3 {
    width: 35px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .movimento .traço1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .movimento .traço2 {
    opacity: 0;
  }
  
  .movimento .traço3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px) ;
    transform: rotate(45deg) translate(-6px, -8px) ;
  }

  .menu-lista{
     list-style: none;
     position: relative;
     left: 430px;
     bottom: 36px;
   }

  .menu-lista ul{
     list-style: none;
     display: inline;
   }

  .menu-lista a{
     color: white;
     text-decoration: none;
     padding-left: 30px;
   }

   .menu-lista a:hover{
    color: var(--cor-04);
    transition: 0.5s;
  }

   