@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-titulo: "Work sans";
    --fonte-corpo: 20px "open sans";
    --cor-01: #023059;
    --cor-02: #084F8C;
    --cor-03: #012840;
    --cor-04: #011826;
    --cor-05: #144E73;
}

body{
    font: var(--fonte-corpo);
    overflow-x: hidden;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Menu topo */

  section#menu-topo{
    max-width: 1200px;
    margin: 0 100px;
    height: 50px;
    padding-top: 20px;
    display: flex;
  } 

  .logo-image{
    flex: 50%;
  }

  .menu-lista{
    flex: 50%;
    list-style: none;
   }

  .menu-lista ul{
     list-style: none;
     display: inline;
   }

  .menu-lista a{
     color: black;
     text-decoration: none;
     padding-left: 30px;
   }

   .menu-lista a:hover{
    color: var(--cor-02);
    transition: 0.4s;
  }

  @media only screen and (max-width: 1200px){
    .menu-lista a{
    display: none;
    }
  }

  @media only screen and (max-width: 1200px){
    .menu-icon{
    position: relative;
    bottom: 3px;
    margin-right: -700px;
    display: inline-block;
    cursor: pointer;
    }
  }

  @media only screen and (max-width: 1200px){
  .traço1, .traço2, .traço3 {
    width: 35px;
    height: 3px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    margin: 6px 0;
    transition: 0.4s;
    }
  }

  .movimento .traço1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .movimento .traço2 {
    opacity: 0;
  }
  
  .movimento .traço3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px) ;
    transform: rotate(45deg) translate(-6px, -8px) ;
  }
  
  article{
    color: white;
    background-color: var(--cor-04);
  }